@import "../../../../scss/colors";

.title {
  font-weight: 300;
  font-size: 18px;
  color: $color-brand-blue-darker;
  padding-left: 15px;
}

.heading {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
