@import "src/scss/variables";

.canvas {
  backface-visibility: hidden;
  width: 100%;
  position: relative;
  transform: translateX(0);
  transition: transform $transition;
}
.wrapper.show-nav .canvas {
  transform: translateX($menu-width);
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
  max-height: calc(100vh - 90px);
  overflow-x: hidden;
  overflow-y: auto;
}

.app-container {
  min-height: 100%;
}
