<div class="viewport app-container">

  <!-- start application global header -->
  <app-header></app-header>

  <!-- start side push off canvas menu -->
  <app-main-menu></app-main-menu>

  <!-- site wrapper -->
  <div class="wrapper" [class.show-nav]="isMenuVisible">

    <div class="canvas">
      <section class="main hbox space-between">

        <!-- start view-->
        <router-outlet></router-outlet>

        <!-- start application main footer -->
        <app-footer></app-footer>

        <!-- debug -->
      </section>
    </div>
  </div>
  <!-- start overlay panel-->
  <app-overlay-panel></app-overlay-panel>
</div>
