<div class="main-menu" [class.main-menu--open]="isOpen">
  <!-- start menu header -->
  <header class="header" (click)="close()">
    <div class="close">
      <p>close</p>
    </div>
  </header>
  <!-- end menu header -->

  <section class="room-info">
    <p class="status-message">Success - we have something!</p>
    <h3 class="room-selection">Superior Room</h3>
    <h4 class="price-from">From</h4>
    <h3 class="price">R1290 pn</h3>

    <div class="room-specs">
      <p>Bed: Twin Bed</p>
      <p>Capacity: 2 adults &amp; 1 Child</p>
      <p>Room size: 40 Square Meters</p>
      <p>View: Sea View</p>
    </div>
    <button kendoButton (click)="showSuccess()" [primary]="true">BOOK NOW</button>

    <!-- start gallery slider -->
    <div class="gallery-slider">
        <kendo-scrollview
          [data]="items"
          [width]="width"
          [height]="height"
          [arrows]="true"
          [pageable]="true">
            <ng-template let-item="item">
                <img src='{{item.url}}' [ngStyle]="{minWidth: width}" draggable="false" style="width: 100%; height: auto;" />
            </ng-template>
      </kendo-scrollview>
    </div>
    <!-- end gallery slider -->
    <div style="margin-top: 16px;">
      <img src="../../../assets/images/freewifi.png" style="width: 40px;">
      <img src="../../../assets/images/bar-restaurant.png" style="width: 40px; margin-left: 12px;">
      <img src="../../../assets/images/checkin.png" style="width: 40px; margin-left: 12px;">
      <img src="../../../assets/images/parking.png" style="width: 40px; margin-left: 12px;">
      <img src="../../../assets/images/smartroom.png" style="width: 40px; margin-left: 12px;">
    </div>
    <div style="margin-top: 12px;">
        <img src="../../../assets/images/star-diamond-awards.png" style="width: 70px;">
        <img src="../../../assets/images/traveler-leisure.png" style="width: 70px; margin-left: 12px;">
        <img src="../../../assets/images/tripadvisor.png" style="width: 80px; margin-left: 12px;">
    </div>
  </section>
</div>
