@import "src/scss/media-queries";

// slider styles
.slider-home-nb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url('/assets/images/slides/raw/slide-lapa-main.jpg');
  background-position: top center;
  background-size: cover;
  height: 100vh;
  margin-top: -90px;
  @include r(240)  {
   }
  @include r(320)  { }
  @include r(480)  { }
  @include r(768)  { }
  @include r(1024) {
   }
  @include r(1140) { }
  @include r(1280) { }
  @include r(1500) { }
  .home-page-landing-container {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    ::ng-deep .subtitle {
      text-align: center;
    }
  }
   .booking-container {
     height: auto;
     // background: #fff;
     display: flex;
     flex-direction: column;
     width: 100%;
     padding-bottom: 16px;
     @include r(240)  { }
      @include r(320)  { }
      @include r(480)  { }
      @include r(768)  { }
      @include r(1024) {
       }
      @include r(1140) { }
      @include r(1280) { }
      @include r(1500) { }
   }
}
