@import "src/scss/media-queries";

// slider styles
.slider-home-nb {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include r(240)  {
    height: 200px;
   }
  @include r(320)  { }
  @include r(480)  { }
  @include r(768)  { }
  @include r(1024) {
    height: 540px;
   }
  @include r(1140) { }
  @include r(1280) { }
  @include r(1500) { }
   img {
     width: 100%;
     height: auto;
   }
}
