@import "src/scss/media-queries";

// slider styles
.slider-home-nb {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/images/slides/raw/slide-lapa-main.jpg');
  background-position: top center;
  background-size: cover;
  height: 100vh;
  margin-top: -90px;
  @include r(240)  {
   }
  @include r(320)  { }
  @include r(480)  { }
  @include r(768)  { }
  @include r(1024) {
   }
  @include r(1140) { }
  @include r(1280) { }
  @include r(1500) { }
   .booking-container {
     height: 100px;
     @include r(240)  { }
      @include r(320)  { }
      @include r(480)  { }
      @include r(768)  { }
      @include r(1024) {
        margin-top: 100px;
       }
      @include r(1140) { }
      @include r(1280) { }
      @include r(1500) { }
   }
}
