@import '../../../scss/media-queries';

.header {
  display: flex;
  flex-direction: column;
  opacity: 0.8;

  .top-header {
    background-color: #fff;
    background-repeat: repeat;
    height: 90px;
    line-height: 45px;
    .logo {
      width: auto;
      height: 70px;
      margin-top: 10px;
    }
  }
}

