<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

        <div class="widget clearfix">


          <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

          <div class="line" style="margin: 30px 0;"></div>

          <div class="col_half">
            <div class="widget clearfix">

              <div class="d-none d-lg-block"><div class="clear" style="padding-top: 10px;"></div></div>

              <div class="row">
                <div class="col-lg-6 bottommargin-sm center">
                  <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="15065425" data-refresh-interval="80" data-speed="3000" data-comma="true">15,065,425</span></div>
                  <h5 class="nobottommargin">Total Downloads</h5>
                </div>

                <div class="col-lg-6 bottommargin-sm center col_last">
                  <div class="counter counter-small" style="color: #2CAACA;"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true">18,465</span></div>
                  <h5 class="nobottommargin">Clients Served</h5>
                </div>
              </div>

            </div>
          </div>

          <div class="col_half col_last">

          </div>

        </div>

      </div>

      <div class="col_one_third col_last">



      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <div class="copyrights-menu copyright-links clearfix">
          <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
        </div>
        Copyrights © 2018 All Rights Reserved Nightsbridge.
      </div>

      <div class="col_half col_last tright">
        <div class="clearfix">

        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer>
