$color-brand-blue: #0076B6;
$color-brand-blue-dark: #04375C;
$color-brand-blue-darker: #00395D;
$color-brand-blue-light: #00aeef;
$color-brand-blue-lighter: #F2F8FB;
$color-brand-grey-light: #F0F0F0;
$color-brand-grey-lightest: #F7F7F7;
$color-brand-grey-darkest: #333;
$color-brand-grey-dark: #666;
$color-brand-grey: #999;

$color-container-background: #fff;
$color-container-background-dark: $color-brand-grey-lightest;
$color-text-heading: #fff;
$color-page-background: #fff;

$color-text-title: #00395D;
$color-text-form: #404040;
$color-text-body: $color-brand-grey-dark;
$color-text-form-placeholder: #8d8d8d;
$color-text-label: #b2b2b2;
$color-text-link: $color-brand-blue;
$color-text-warning: #dc630a;

// BRAND CI

// Utilities:
$color-brand-ci-critical: #CC3333;
$color-brand-ci-warning: #DC630A;
$color-brand-ci-success: #40A24E;

//Primary Brand Colors:
$color-brand-ci-primary: #0076B6;
$color-brand-ci-secondary: #00395D;
$color-brand-ci-accent: #00AEFF;
$color-brand-ci-white: #ffffff;

// Shades of Turquoise
$color-brand-ci-turqoise-100: #00AEFF;
$color-brand-ci-turqoise-75: #40C2F3;
