$heading-font-family: 'Roboto Condensed', sans-serif;
$body-font-family: 'Cabin', sans-serif;
$heading-font-weight: 700;
$body-font-weight: 400;
$time: .3s;
$time-fast: .2s;
$time-fastest: .1s;
$ease: ease-out;
$border-size: 5px;
$transition: $time $ease;
$transition-fast: $time-fast $ease;
$transition-fastest: $time-fastest $ease;

$menu-width: 320px;
$top-nav-height: 80px;
$footer-nav-height: 78px;
$nav-heights-combined: 158px;
